
        <div class="col-lg-6">
            {{ form_widget(renewalform.term, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
            }) }}
         </div>
        <div class="col-lg-2">
            {{ form_widget(renewalform.exercised, {'label': '',
            'label_attr': {'class': 'control-label'}
             }) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(renewalform.showinleasereport, {'label': '',
            'label_attr': {'class': 'control-label'}
             }) }}
        </div>