<div class="col-lg-3 renewals">
                                                {{ form_widget(taskForm.ctdate, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'form':'leaseInfoForm'}
                                                }) }}
                                            </div>
                                            <div class="col-lg-3">
                                                {{ form_widget(taskForm.ctclause, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'class': 'form-control'}
                                                }) }}
                                            </div>
                                            <div class="col-lg-4">
                                                {{ form_widget(taskForm.ctdescription, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'class': 'form-control'}
                                                }) }}
                                            </div>