<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">STORE CLASS</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
            {{ form_start(storeclassForm, {'attr': {'id': 'storeclassesForm', 'role': 'form',
            'class': 'form-horizontal'} }) }}

            <div class="form-group">
                <label class="col-sm-3 control-label">Store Class:</label>
                <div class="col-sm-9">
                    {{ form_widget(storeclassForm.storeclass,{'label': 'Store Class',
                    'label_attr': {'class': 'control-label'},
                    'attr': {'class': 'form-control'}
                    }) }}
                </div>
            </div>
       
            {{ form_end(storeclassForm) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="storeclassesForm">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
