        <div class="col-lg-4">
            {{ form_widget(directorform.directorid, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
            }) }}
         </div>
        <div class="col-lg-6">
            {{ form_widget(directorform.position, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
             }) }}
        </div>