        <div class="col-lg-6">
            {{ form_widget(jurisdictionform.provincestateid, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
            }) }}
         </div>
        <div class="col-lg-2">
            {{ form_widget(jurisdictionform.registereddate, {'label': '',
            'label_attr': {'class': 'control-label'}
             }) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(jurisdictionform.registrationnumber, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
             }) }}
        </div>