        <div class="col-lg-6">
            {{ form_widget(membershipform.sharetypeid, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
            }) }}
         </div>
        <div class="col-lg-2">
            {{ form_widget(membershipform.numberofshares, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
             }) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(membershipform.directorid, {'label': '',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control'}
             }) }}
        </div>