{% extends "EarlsLeaseBundle::layout.html.twig" %}

{% block title "Store Information" %}

{% block content %}
    <h1>This is   storeinfo.html.twig </h1>
    <h1>Hellooo {{ name }}</h1>
{% endblock %}

{% set code = code(_self) %}